# Ignore virtual environment files
venv/
.env/

# Ignore pipenv files
Pipfile
Pipfile.lock

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore third-party packages
/lib/
/lib64/
/site-packages/
dist/
build/
*.egg-info/
*.egg
